In [1]:
import pandas as pd
import csv

In [2]:
SFLB = pd.read_csv('SF and LB Hospital Combined Dataframe.csv', header =0)
LASSEA = pd.read_csv('main_dataset.csv', header =0)
SLC= pd.read_csv('SLC_Hospitals.csv', header =0)

C:\Users\u0955471\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\u0955471\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\u0955471\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
dataframes = [SFLB, LASSEA, SLC]
masterDataset = pd.concat(dataframes)

In [4]:
masterDataset.head()

,Airport_Code,Hospital_Name,Procedure_Description,Cash_Price,Gross_Price,CPT_Code,Number_Beds,For_Profit,Yearly_Discharges,Patient_Experience_Rating,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,SF,SF - Zuckerberg,"Hc Surgery, Trauma Major I, Addl 30 Mins",3367.7,3367.7,3.60E+11,397,0,15244,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SF,SF - Zuckerberg,Hc Post Drain & Percussion 30 Min,218.45,218.45,94667,397,0,15244,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SF,SF - Zuckerberg,"Hc Surgery, Minor I, C&g, Addl 30 Mins",2214.25,2214.25,3.61E+11,397,0,15244,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SF,SF - Zuckerberg,"Hc Surgery, Minor Ii, C&g, Addl 30 Mins",2367.25,2367.25,3.61E+11,397,0,15244,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SF,SF - Zuckerberg,LAB PATHOLOGY CONSULT-COMPLETE,25.5,25.5,80502,397,0,15244,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
masterDataset.head()

,Airport_Code,Hospital_Name,Procedure_Description,Cash_Price,Gross_Price,CPT_Code,Number_Beds,For_Profit,Yearly_Discharges,Patient_Experience_Rating,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17
0,SF,SF - Zuckerberg,"Hc Surgery, Trauma Major I, Addl 30 Mins",3367.7,3367.7,3.60E+11,397,0,15244,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,SF,SF - Zuckerberg,Hc Post Drain & Percussion 30 Min,218.45,218.45,94667,397,0,15244,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SF,SF - Zuckerberg,"Hc Surgery, Minor I, C&g, Addl 30 Mins",2214.25,2214.25,3.61E+11,397,0,15244,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,SF,SF - Zuckerberg,"Hc Surgery, Minor Ii, C&g, Addl 30 Mins",2367.25,2367.25,3.61E+11,397,0,15244,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SF,SF - Zuckerberg,LAB PATHOLOGY CONSULT-COMPLETE,25.5,25.5,80502,397,0,15244,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
masterDataset.to_csv('master_dataset.csv')

PermissionError: [Errno 13] Permission denied: 'master_dataset.csv'