In [10]:
import pandas as pd
import csv

In [11]:
SFLB = pd.read_csv('SF and LB Hospital Combined Dataframe.csv', header =0)
LASSEA = pd.read_csv('main_dataset.csv', header =0)
SLC= pd.read_csv('', header =0)

C:\Users\u0955471\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\u0955471\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [12]:
LASSEA.dtypes

Airport_Code                 object
Hospital_Name                object
Procedure_Description        object
Cash_Price                   object
Gross_Price                  object
CPT_Code                     object
Number_Beds                   int64
For_Profit                    int64
Yearly_Discharges             int64
Patient_Experience_Rating     int64
dtype: object

In [14]:
LASSEA.head()

,Airport_Code,Hospital_Name,Procedure_Description,Cash_Price,Gross_Price,CPT_Code,Number_Beds,For_Profit,Yearly_Discharges,Patient_Experience_Rating
0,LAS,Desert Springs,MNT INITIAL EA 15 MIN,59,147,97802,245,1,12696,2
1,LAS,Desert Springs,MNT RE-ASSESSMENT EA 15MIN,50,124,97803,245,1,12696,2
2,LAS,Desert Springs,MNT GROUP EDUCATION EA 30MIN,28,69,97804,245,1,12696,2
3,LAS,Desert Springs,MNT INDIVIDL 15MIN 2ND REFERAL,50,124,G0270,245,1,12696,2
4,LAS,Desert Springs,DIAB EDUC SMT INDIV EA 30MIN,156,389,G0108,245,1,12696,2