<a href="https://colab.research.google.com/github/Jonathan-Barton/PriceTransparency_TeamProject/blob/main/Price_Comparison.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Medical Tourism (freemarketization)
#### “There are no limits to what free men, free women, and free markets can accomplish.” –Jack Kemp
#### "The uneven distribution of wealth in the world is due to the uneven distribution of capitalism." –Johan Norberg

In [ ]:
import pandas as pd
import scipy as sc
import numpy as np

from scipy import stats
from google.colab import drive
import seaborn as sns
import altair as alt

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Virginia_mason_Seattle.csv to Virginia_mason_Seattle.csv

In [ ]:
## this will prompt an authorization code. Click allow and then paste it into the bar below and press enter. this mounts your google drive
# so that you can access files in it as a directory
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
# Create DF for University of Utah Health in SLC
UofU_health = pd.read_csv("UofU_Health.csv", encoding= 'unicode_escape')

UofU_health['Airport_Code'] = 'SLC'
UofU_health['Hospital_Name'] = 'University of Utah'
# make MAIN\nPRICE cash price, make another column gross_price with NULL values.

UofU_health.head()

                         PROC NAME CPT CODE  ... Airport_Code       Hospital_Name
0            ANCHOR CPS SHORT 14MM      NaN  ...          SLC  University of Utah
1                ANCHOR TENDON (8)      NaN  ...          SLC  University of Utah
2   AUG FEM CONE TRIATH TRI 1\T R      NaN  ...          SLC  University of Utah
3     AUG FEM VG 360 UNV PST 80X10      NaN  ...          SLC  University of Utah
4     AUGMENT TIBIAL BMT 360 71X10      NaN  ...          SLC  University of Utah

[5 rows x 5 columns]

In [ ]:
cpt = []
for val in df['col_count']: #Swap col_count with the CPT/HCPCS column.
    try:
        if int(val):
            cpt.append(1)
        else:
            cpt.append(0)
    except ValueError:
        cpt.append(0)
df["cptFLG"] = cpt        # Swap df with the data frame name.
# We can then filter on the cptFLG column to roughly eliminate the HCPCS

In [ ]:
# Create DF for St. Marrks hospital in SLC
st_marks = pd.read_csv("MountainStar_st-marks-hospital_standardcharges.csv")
st_marks.head()

st_marks['Airport_Code'] = 'SLC'
st_marks['Hospital_Name'] = 'St Marks'

  Procedure ID HCPCS/CPT Code  ... Gross Charge Undiscounted Cash Price
0          708                 ...          142                   142.0
1         8000                 ...         2535                  2535.0
2         8001                 ...         5399                  5399.0
3         8002                 ...         2021                  2021.0
4         8003                 ...         3435                  3435.0

[5 rows x 5 columns]

In [ ]:
# Create DF for Mountain View hospital in SLC
mountain_view = pd.read_csv("MountainStar_mountain-view-hospital_standardcharges.csv")
mountain_view.head()

mountain_view['Airport_Code'] = 'SLC'
mountain_view['Hospital_Name'] = 'Mountain View'

mountain_view['HCPCS_CPT'] = mountain_view['HCPCS/CPT']
drop mountain_view['HCPCS/CPT']

  Procedure ID HCPCS/CPT Code  ... Gross Charge Undiscounted Cash Price
0         4526                 ...        97.63                   97.63
1         4548                 ...       110.22                  110.22
2         4571                 ...       337.61                  337.61
3         4582                 ...        27.09                   27.09
4         6020     0G0109      ...       117.12                  117.12

[5 rows x 5 columns]

In [ ]:
# Create DF for Lone Peak hospital in SLC
lone_peak = pd.read_csv("MountainStar_lone-peak-hospital_standardcharges.csv")
lone_peak.head()

lone_peak['Airport_Code'] = 'SLC'
lone_peak['Hospital_Name'] = 'Lone Peak'

  Procedure ID HCPCS/CPT Code  ... Gross Charge Undiscounted Cash Price
0            1          93924  ...       614.76                  614.76
1            2        7366050  ...       349.39                  349.39
2            3     073660RT    ...       174.68                  174.68
3            4     073660LT    ...       174.68                  174.68
4          704                 ...        44.26                   44.26

[5 rows x 5 columns]

In [ ]:
# Create DF for Desert Springs Hosital in Las Vegas
desert_springs = pd.read_csv("LasVegas_desertsprings_cleaned.csv")
#desert_springs['MAIN\nPRICE'] = desert_springs['MAIN\nPRICE'].replace(',', '')
desert_springs.head()

desert_springs['Airport_Code'] = 'LAS'
desert_springs['Hospital_Name'] = 'Desert Springs'

          CDM  Code Type  ...   Gross Charge     Cash Price
0  34800011.0  CPT/HCPCS  ...            $147            $59
1  34800029.0  CPT/HCPCS  ...            $124            $50
2  34800037.0  CPT/HCPCS  ...             $69            $28
3  34800045.0  CPT/HCPCS  ...            $124            $50
4  34800060.0  CPT/HCPCS  ...            $389           $156

[5 rows x 6 columns]

In [ ]:
# Create DF for Summerlin Hosital in Las Vegas
summerlin = pd.read_csv("LasVegas_summerlin_cleaned.csv")
summerlin.head()

summerlin['Airport_Code'] = 'LAS'
summerlin['Hospital_Name'] = 'Summerlin Hospital'

          CDM  Code Type  ...   Gross Charge     Cash Price
0  34800060.0  CPT/HCPCS  ...            $361           $144
1  34800078.0  CPT/HCPCS  ...            $361           $144
2  34800086.0  CPT/HCPCS  ...            $361           $144
3  34800094.0  CPT/HCPCS  ...            $177            $71
4  34800110.0  CPT/HCPCS  ...            $152            $61

[5 rows x 6 columns]

In [ ]:
# Create DF for Valley Hosital in Las Vegas
valley = pd.read_csv("LasVegas_valley_hospital_cleaned.csv")
valley.head()
#What is everything in the codetype column

valley['Airport_Code'] = 'LAS'
valley['Hospital_Name'] = 'Valley Hospital'

          CDM  Code Type  ...   Gross Charge     Cash Price
0  34800060.0  CPT/HCPCS  ...            $394           $158
1  34800078.0  CPT/HCPCS  ...            $394           $158
2  34800086.0  CPT/HCPCS  ...            $394           $158
3  34800094.0  CPT/HCPCS  ...            $205            $82
4  34800102.0  CPT/HCPCS  ...            $178            $71

[5 rows x 6 columns]

In [ ]:
# Create DF for Virginia Mason Hosital in Seattle
virginia_mason = pd.read_csv("Virginia_mason_Seattle.csv")

virginia_mason['Airport_Code'] = 'SEA'
virginia_mason['Hospital_Name'] = 'Virginia Mason'

virginia_mason.head()

  Chargecode                              Description CPT/HCPCS   Fee
0     00000F   INVALID PROCEDURE CODE TES - HPA BOUND       NaN   NaN
1      0001A   VACCINE ADMIN, PFIZER 1ST COVID VAC IM     0001A  40.0
2      0002A   VACCINE ADMIN, PFIZER 2ND COVID VAC IM     0002A  40.0
3      0011A  VACCINE ADMIN, MODERNA 1ST COVID VAC IM     0011A  40.0
4      0012A  VACCINE ADMIN, MODERNA 2ND COVID VAC IM     0012A  40.0

In [ ]:
print(test)

NameError: ignored